[package]
name = "compiler"
version = "0.1.0"
edition = "2021"

[lib]
name = "compiler"
path = "src/lib.rs"

[[bin]]
name = "testbin"
path = "src/bin/compiler_main.rs"

[dependencies]
chrono = "0.4"
regex = "1"
lazy_static = "1.4.0"
serde = "1.0.130"
figment = "0.10.6"