body {
    background: #f6fcf5;
    display: flex;
    flex-flow: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 1px solid;*/
    width: 70%;
}

#source-code-form-wrapper {
    width: 90%;
}

#source-code-form {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5px;
    padding: 10px;
    background: #fcfffb;
    border: 1px solid #7cb964;
    border-radius: 3px;
}

select {
    height: 23px;
}

#source-code-form input {
    width: 100px;
}

#source-code-form #lang-input {
    width: 50px;
}

#if-execute-checkbox {
    display: flex;
    flex-direction: row;
}

.wide {
    width: 100%;
}

.head {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px;
    background: #144700;
    color: #f6fcf5;
}

#main-admin {
    margin-top: 10px;
    border: 1px solid;
}

#panel-content {
    background: #eff8ed;
    padding: 30px;
}