body {
    background: #f2faf0;
    display: flex;
    flex-flow: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 1px solid;*/
    width: 70%;
}

#source-code-form {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5px;
}

select {
    height: 23px;
}

#source-code-form input {
    width: 100px;
}

#source-code-form #lang-input {
    width: 50px;
}

#stderr-wrapper {
    width: 100%;
}